<h1>Juego por rondas</h1>
<app-contador [valor_inicial]="valor_inicial" [valor_limite]="valor_limite" (se_ha_llegado_al_valor_maximo)="cuando_un_contador_llegue_al_maximo()"></app-contador>
<app-contador [valor_inicial]="valor_inicial" [valor_limite]="valor_limite" (se_ha_llegado_al_valor_maximo)="cuando_un_contador_llegue_al_maximo()"></app-contador>
<app-contador [valor_inicial]="valor_inicial" [valor_limite]="valor_limite" (se_ha_llegado_al_valor_maximo)="cuando_un_contador_llegue_al_maximo()"></app-contador>
<p>Contadores finalizados: {{contadores_finalizados}}</p>
<h3>{{mensaje_final}}</h3>
<hr>
<router-outlet />

